.spinner-border {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  border: 5px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 8px;
  height: 8px;
  border-width: 4px;
}
