@import "app-colors";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: white 0.02em 0.02em;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 2.3em;
}

hr {
  border-top: 1px solid #e8e8e8 !important;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
}

.text-danger {
  color: $base-red;
}

.text-muted {
  color: #c1c1c1 !important;
}

.text-white {
  color: #fff;
}

.text-warning {
  color: #cf8f23;
}

.joniks-brandname {
  font-family: 'Peace Sans', 'Helvetica Neue', sans-serif !important;
}
