<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<div class="content container-fluid" id="home">
  <div class="accordion" id="accordion-send">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="" href="#collapse01">
          <i class="icon-chevron-down"></i> <strong> {{ 'user.edit.title' | translate }} </strong>
        </a>
      </div>
      <div id="collapse01" class="accordion-body collapse in">
        <div class="accordion-inner">
          <form [formGroup]="userForm" (ngSubmit)="save()">

            <div class="input-mask">
              <table cellpadding="0" cellspacing="0" style="margin-bottom: 10px;">
                <tbody>
                  <tr>
                    <td>{{ 'user.edit.field.username' | translate }}:</td>
                    <td>
                      <input type="text" formControlName="username" class="app-input required" required><span
                        class="asterisk">*</span>
                      <div class="validation">
                        <app-form-validation-message [form]="userForm" fieldName="username">
                        </app-form-validation-message>
                      </div>
                    </td>
                    <td>{{ 'user.edit.field.email' | translate }}:</td>
                    <td>
                      <input type="text" formControlName="email" class="app-input required" required><span
                        class="asterisk">*</span>
                      <div class="validation">
                        <app-form-validation-message [form]="userForm" fieldName="email">
                        </app-form-validation-message>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ 'user.edit.field.firstName' | translate }}:</td>
                    <td>
                      <input type="text" formControlName="firstName" class="app-input ">
                      <div class="validation">
                        <app-form-validation-message [form]="userForm" fieldName="firstName">
                        </app-form-validation-message>
                      </div>
                    </td>
                    <td>{{ 'user.edit.field.lastName' | translate }}:</td>
                    <td>
                      <input type="text" formControlName="lastName" class="app-input ">
                      <div class="validation">
                        <app-form-validation-message [form]="userForm" fieldName="lastName">
                        </app-form-validation-message>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <hr>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ 'user.add.field.role' | translate }}:</td>
                    <td>
                      <select formControlName="roleId" required>
                        <option [value]="0">{{ 'user.add.role.encoder' | translate }}
                        </option>
                        <option [value]="1">{{ 'user.add.role.lab' | translate }}
                        </option>
                        <option [value]="2">{{ 'user.add.role.admin' | translate }}
                        </option>
                      </select>
                      <span class="asterisk">*</span>
                      <div class="validation">
                        <app-form-validation-message [form]="userForm" fieldName="roleId">
                        </app-form-validation-message>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <ng-container *ngIf="DisplayModifiedDetails">
                    <tr>
                      <td colspan="4">
                        <hr>
                      </td>
                    </tr>
                    <tr class="text-muted font-size-xs">
                      <td colspan="4">
                        <span>{{ 'global.label.modified' | translate }}: </span>
                        <span
                          style="margin-left: 10px">{{ user.modifiedByUser ? user.modifiedByUser : '-' | titlecase }}</span>
                        <span style="margin-left: 10px">({{ user.modifiedDate | date:'medium' }})</span>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <button class="btn btn-standard"
                [attr.disabled]="PageLoading || userForm.invalid || FormUntouched ? '' : null">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isSaving"></span>
                <span *ngIf="isSaving" style="margin-right: 8px;"></span>
                <i *ngIf="!isSaving"
                  class="icon-pencil icon-white"></i>&nbsp;{{ 'global.action.save' | translate }}</button>
              <button type="button" class="btn btn-standard" (click)="backToList()"
                [attr.disabled]="PageLoading ? '' : null"><i class="icon-arrow-left icon-white"></i>
                {{ 'global.action.backToList' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>