<div id="login">
  <div class="container">
    <div class="span11 offset1">
      <div class="row"></div>
      <div class="row">
        <div class="span3" style="margin-top: 5em;">
          <img src="../../assets/img/logo-login.png" />
        </div>

        <div class="span">
          <img src="../../assets/img/img-login-divider.png" />
        </div>

        <div class="span7 login-box">
          <form [formGroup]="changePasswordForm" (ngSubmit)="save()">
            <div class="login-box-inner">
              <br /><br /><br />
              <div style="margin-bottom: 40px;">{{ 'changePassword.instructions' | translate }}</div>
              <div style="position:relative;">
                <div class="show-icon" (click)="showPassword = !showPassword">
                  <ng-container *ngIf="!showPassword">
                    <fa-icon [icon]="'eye'"></fa-icon> {{ 'global.action.show' | translate }}
                  </ng-container>
                  <ng-container *ngIf="showPassword">
                    <fa-icon [icon]="'eye-slash'"></fa-icon> {{ 'global.action.hide' | translate }}
                  </ng-container>
                </div>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="app-input required"
                  placeholder="{{ 'changePassword.field.newPassword' | translate }}" required><span
                  class="asterisk">*</span>
                <div class="validation">
                  <app-form-validation-message [form]="changePasswordForm" fieldName="password">
                  </app-form-validation-message>
                </div>
              </div>
              <div>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="repeatPassword"
                  placeholder="{{ 'changePassword.field.repeatPassword' | translate }}" class="app-input required"
                  required><span class="asterisk">*</span>
                <div class="validation">
                  <app-form-validation-message [form]="changePasswordForm" fieldName="repeatPassword">
                  </app-form-validation-message>
                  <small
                    *ngIf="changePasswordForm.get('repeatPassword').value !== changePasswordForm.get('password').value && changePasswordForm.get('repeatPassword').dirty"
                    class="text-danger">
                    {{ 'global.validation.passwordNotMatch' | translate }}
                  </small>
                </div>
              </div>
              <div style="margin-top: 40px;">
                <div *ngIf="displayError" style="margin-bottom: 10px; margin-top: -40px;">
                  <small class="text-danger"> {{ 'changePassword.error.failed' | translate }} </small>
                </div>
                <button type="submit" class="btn btn-standard"
                  [attr.disabled]="isLoading || changePasswordForm.invalid ? '' : null">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="isLoading"></span>
                  <span *ngIf="isLoading" style="margin-right: 8px;"></span>
                  <i *ngIf="!isLoading" class="icon-pencil icon-white"
                    style="margin-right: 4px;"></i>{{ 'changePassword.action.changePassword' | translate }}</button>
                <button type="reset" class="btn" [attr.disabled]="isLoading ? '' : null"><i class="icon icon-refresh"
                    style="margin-right: 4px;"></i>{{ "global.action.clear" | translate }}</button> <br>
                <button type="button" class="btn btn-standard" [attr.disabled]="isLoading ? '' : null"
                  style="margin-top: 8px;" (click)="back()"><i class="icon-arrow-left icon-white"
                    style="margin-right: 4px;"></i>{{ "global.action.back" | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>